<form class="navbar-form navbar-left" role="search" method="get" action="/">
  <div class="form-group">
    <input name="search" type="text" class="form-control" placeholder="Search article" style="border-radius:0;">
  </div>
  <button type="submit" class="btn btn-default" style="border-radius:0; margin-left:-44px; border:none;">
    <span class="glyphicon glyphicon-search"></span>
  </button>
</form>
