{% assign title = "Home" %}
{% include "admin/inc/header" %}

<div class="container">
  Welcome!
</div>

{% include "admin/inc/footer" %}

<!-- common javascript -->
<script src="{{'default/main.js'|asset_url}}"></script>
