<div style="margin: 10px;
text-align: center;
padding: 20px;
background-color: rgb(235, 184, 184);
color: rgb(184, 8, 8);
font-size: 22px;
font-weight: bold;
text-shadow: 1px 1px 1px #666;
border: 1px solid rgb(184,8,8);">
Error: cannot lookup view "{{_view_name|escape}}"!
</div>
