</body>
</html>
<!-- JavaScript -->
<script src="{{'lib/jquery/jquery.min.js'|asset_url}}"></script>
<script src="{{'lib/bootstrap/js/bootstrap.js'|asset_url}}"></script>
<script src="{{'default/common.js'|asset_url}}"></script>
